<form action="/Image/upload" enctype="multipart/form-data" method="post">
    <div class="input-group mb-2">
        <span class="input-group-text fw-bold" id="inputGroup-sizing-default">Email Id:</span>
        <input type="email" class="form-control fw-bold" name="email" aria-label="Sizing example input"
            placeholder="Enter your emailId" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text fw-bold" id="inputGroup-sizing-default">Password:</span>
        <input type="password" class="form-control fw-bold" name="password" aria-label="Sizing example input"
            placeholder="Enter your password" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-2">
        <span class="input-group-text fw-bold" id="inputGroup-sizing-default">UserName</span>
        <input type="text" class="form-control fw-bold" name="name" aria-label="Sizing example input"
            placeholder="Enter your Name" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="form-group">
      <input type="file" class="form-control-file" name="avtar">       
    </div>
    <button type="submit" class="mt-2 btn btn-success fw-bold">Submit</button>    
  </form>