<div class="text-center">
    <p class="fw-bold">Hi <%= comment.sender.user.name %></p>
    <p class="fw-bold">Hi <%= comment.reciver.user.name %></p>
    <br>
    <p class="fw-bold"><strong>Post : <%= comment.reciver.msg %></strong> Just got published on pratice</p>
    <p class="fw-bold"><strong>Comment : <%= comment.sender.msg %></strong> Just got published on pratice</p>
    <br>
    <p>Thank You for comment</p>
</div>